<!-- -*- mode: XML -*- -->

<launch>
    <include file="$(find cube_gazebo)/launch/controller_manager.launch" />
    <include file="$(find cube_gazebo)/launch/controller_spawner.launch" />

    <param name="robot_description"
      command="$(find xacro)/xacro '$(find cube_gazebo)/urdf/cube_base.xacro'" />

    <node name="cube_gazebo" pkg="cube_gazebo" type="cube_base_driver_node.py">
        <param name="publish_tf" value="True" />
    </node>

    <node name="base_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="base_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- node pkg="face_expression" type="face_expression_node" name="face_expression" required="true"/>
    <node pkg="voice_server" type="voice_server.py" name="voice_server" / -->

    <!-- include file="$(find teleop_twist_joy)/launch/teleop.launch">
        <arg name="joy_config" value="ps3-holonomic"/>
    </include  -->
    <!-- include file="$(find cube_teleop)/launch/teleop.launch"/ -->

    <!-- node name="rviz" pkg="rviz" type="rviz" / -->
    <!-- node name="rqt_console" pkg="rqt_console" type="rqt_console" / -->
</launch>
